{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="page-header">
    <h2>HTTP 500 &mdash; Internal server error</h2>
  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span12">

<p>The server encountered an unexpected condition which prevented it from fulfilling your request: <code>{{request_path}}</code></p>

<p>Please try again or contact the website administrator in case the error persists.</p>

    </div>
  </div>
</section>

{% endblock %}
