{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="page-header">
    <h1>Shared Task on Applying Machine Learning Techniques to<br/>Optimise the Division of Labour in Hybrid MT (ML4HMT-2011)</h1>
    <h2>Barcelona (Spain) &middot; Saturday, November 19th, 2011</h2>
    <h4>In conjunction with <a href="http://ixa2.si.ehu.es/lihmt2011/">International Workshop on Using Linguistic Information for Hybrid Machine Translation (LIHMT-2011)</a></h4>

  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span8">
      <h4>Workshop Purpose and Theme</h4>
      <p>The workshop will explore alternatives in order to provide optimal support for Hybrid MT design, using sophisticated machine-learning techniques. One further important objective of the workshop is to build bridges from MT to the ML community to systematically and jointly explore the choice space for Hybrid MT.</p>

      <h4>Workshop Programme</h4>
      <p>The workshop will open with an invited talk (speaker TBA), followed by a 
challenge or shared task session, and will conclude with a discussion panel.</p>
      <p>All contributions will be published in the workshop proceedings.</p>
    </div>

    <div class="span7 push1">
      <h4>Important Dates</h4>
      <ul>
	    <li style="text-decoration:line-through;"><strong>May 20th</strong> Release of data for the challenge</li>
	    <li style="text-decoration:line-through;"><strong>October 10th</strong> Paper Submissions due / Challenge results due</li>
	    <li style="text-decoration:line-through;"><strong>October 18th</strong> Author notification / Release of challenge results</li>
	    <li style="text-decoration:line-through;"><strong>October 25th</strong> Final version due</li>
	    <li><strong>November 19th</strong> Workshop (<a href="{{URL_PREFIX}}{% url signup %}">Registration open</a>)</li>
	  </ul>

	  <h4>Acknowledgments</h4>
	  <p>The ML4HMT workshop is supported by <a href="http://www.meta-net.eu/"><img alt="META-NET" style="width:100px;vertical-align:bottom;" src="http://www.meta-share.eu/meta-net-logo.png" /></a></p>
	
	    </div>
	  </div>
	  <div class="row">
	    <div class="span16">

<h4>Shared Task Description</h4>
<p>The "Shared Task on Applying Machine Learning Techniques to Optimise the Division of Labour in Hybrid MT" is an effort to trigger systematic investigation on improving state-of-the-art Hybrid MT, using advanced machine-learning (ML) methodologies. Participants are requested to build Hybrid/System Combination systems by combining the output of several systems of different types, which is provided by the organizers.</p>
<p>The main focus of the shared task is trying to answer the following question:</p>
<p><em>Could Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</em></p>
<ul>
<li>Data: The participants are given <a href="http://www.dfki.de/~cfedermann/ML4HMT-data-1.0.tgz">a development bilingual set</a> (13 MB), aligned at a sentence level. Each "bilingual sentence" contains:
  <ul>
    <li>the source sentence,</li>
    <li>the target (reference) sentence and</li>
    <li>the corresponding multiple output translations from 5 different systems, based on different MT approaches (Apertium, Ramirez-Sanchez, 2006; Joshua, Zhifei Li et al, 2009; Lucy, Alonso and Thurmair, 2003; Matrex, Penkale et. al 2010) Metis, Vandeghinste et al., 2006). The output has been annotated with system-internal information deriving from the translation process of each of the systems (<a href="http://www.dfki.de/~cfedermann/ML4HMT-data-description.pdf">ML4HMT-data-description.pdf</a>, 104 KB).</li>
  </ul></li>

<li>Baseline: As a baseline we consider state-of-the-art open-source system-combination systems, such as MANY (Barrault, 2010) and CMU-MEMT (Heafierld &amp; Lavie, 2010).</li>

<li>Challenge: Participants are challenged to build an MT mechanism that improves over the baseline, by making effective use of the system-specific MT output. They can either provide solutions based on an open source system, or develop their own mechanisms. A suggested approach is given below.
  <ul>
    <li>Spanish-English will be the language direction</li>
    <li>The development set can be used for tuning the systems during the development phase. Final submissions have to include translation output on a test set, which will be available one week before the submission deadline</li>
    <li>If you need language/reordering models they can be built upon the WMT News Commentary (<a href="http://www.statmt.org/wmt11/">http://www.statmt.org/wmt11/</a>).</li>
    <li>Participants can also make use of additional linguistic analysis tools, if their systems require so, but they have to explicitly declare that upon submission, so that they are judged as "unconstrained" systems.</li>
  </ul></li>

<li>Evaluation: The system output will be judged via peer-based human evaluation. During the evaluation phase, participants will be requested to rank system outputs of other participants through a web-based interface (Appraise; Federmann 2010). Automatic metrics (BLEU, Papineni et. al, 2002) will be additionally used.</li>
  
<li>System description: shared task participants will be invited to submit short papers (4-6 pages) describing their systems or their evaluation metrics (see instructions in Submissions).</li>
</ul>

<h4>Submissions</h4>
<p>Papers should be in English and up to a maximum of 8 pages long. Please follow the ACL HLT 2011 (<a href="http://ixa2.si.ehu.es/lihmt2011/submissions.html#format">formatting requirements</a>) for long papers. To submit contributions, please follow the instructions at the Workshop management system submission website: <a href="https://www.easychair.org/account/signin.cgi?conf=ml4hmt">https://www.easychair.org/account/signin.cgi?conf=ml4hmt</a>.</p>

<p>The contributions will undergo a double-blind review by members of the programme committee. Please address queries to <a href="mailto:ml4hmt@easychair.org">ml4hmt@easychair.org</a>.</p>

<h4>Organization</h4>
<p>Chair: Toni Badia (Pompeu Fabra University, Spain)<br/>
Co-chairs: Christian Federmann (German Research Center for Artificial Intelligence, Germany), Josef van Genabith (Dublin City University, Ireland)</p>

<h4>Committee members</h4>
<p>Maite Melero (Barcelona Media Innovation Center, Spain), Marta R. Costa-jussa (Barcelona Media Innovation Center, Spain), Pavel Pecina (Dublin City University, Ireland), Eleftherios Avramidis (German Research Center for Artificial Intelligence, Germany)</p>

<h4>Program Committee</h4>
<p>Eleftherios Avramidis (German Research Center for Artificial Intelligence, Germany)<br/>
Rafael Banchs (Institute for Infocomm Reserarch - I2R, Singapore)<br/>
Loic Barrault (LIUM - University of Le Mans, France)<br/>
Chris Callison-Burch (Johns Hopkins University, MD, USA)<br/>
Jinhua Du (Faculty of Automation and Information Engineering, Xi'an University of Technology, Xi'an, China)<br/>
Andreas Eisele (Directorate-General for Translation (DGT), Luxembourg)<br/>
Cristina Espana-Bonet (Technical University of Catalonia, TALP, Barcelona)<br/>
Patrick Lambert (LIUM - University of Le Mans, France)<br/>
Maite Melero (Barcelona Media Innovation Center, Spain)<br/>
Pavel Pecina (Dublin City University, Ireland)<br/>
Marta R. Costa-jussa (Barcelona Media Innovation Center, Spain)<br/>
David Vilar (German Research Center for Artificial Intelligence, Germany)</p>
	    </div>
	  </div>
	</section>

{% endblock %}
