{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  {% if message %}
  <div class="alert-message success">
    <p>{{message|safe}}</p>
  </div>
  {% else %}
  <div class="alert-message success">
    <p><strong>ML4HMT-12 Workshop Update:</strong> 2nd ML4HMT Workshop accepted at COLING 2012 in Mumbai, India. Stay tuned as we update the website!</p>
  </div>
  {% endif %}

  <div class="page-header">
    <h1>Second Workshop on Applying Machine Learning Techniques to Optimise the Division of Labour in Hybrid MT (ML4HMT-12)</h1>
    <h2>Mumbai (India) &middot; December 8th/9th, 2012</h2>
    <h4>In conjunction with <a href="http://www.coling2012-iitb.org/">24th International Conference on Computational Linguistics (COLING 2012)</a></h4>
  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span16">
      <h4>Workshop Purpose and Theme</h4>
      <p>The "Second Workshop on Applying Machine Learning Techniques to Optimise the Division of Labour in Hybrid MT (ML4HMT-12)” is an effort to trigger a systematic investigation on improving state-of-the-art hybrid machine translation, making use of advanced machine-learning (ML) methodologies.</p>

      <p>It follows the <a href="{{URL_PREFIX}}{% url ml4hmt.views.page page_id="2011/program" %}">ML4HMT-11</a> workshop, which took place in November 2011 in Barcelona. The first workshop also road-tested a shared task (and associated data set) and laid the basis for a broader reach in 2012.</p>

      <p>ML4HMT-12 involves regular papers on hybrid MT as well as a Shared Task. More information is available in the <a href="{{URL_PREFIX}}{% url home %}call-for-papers/">call for papers</a>.</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span8">
      <h4>Regular Papers ML4HMT-12</h4>
      <p>We are soliciting original papers on hybrid MT, including (but not limited to):</p>

      <ul>
        <li>use of machine learning methods in hybrid MT;</li>

        <li>system combination: parallel in multi-engine MT (MEMT) or sequential in statistical post-editing (SPMT);</li>

        <li>combining phrases and translation units from different types of MT;</li>

        <li>syntactic pre-/re-ordering;</li>

        <li>using richer linguistic information in phrase-based or in hierarchical SMT;</li>

        <li>learning resources (e.g., transfer rules, transduction grammars) for probabilistic rule-based MT.</li>
      </ul>

      <p>Full papers should be anonymous and follow the <a href="http://www.coling2012-iitb.org/call_for_papers.php">COLING full paper format</a>.</p>

      <h4>Shared Task ML4HMT-12</h4>
      <p>Participants are invited to build hybrid machine translation systems and/or system combinations by using the output of several MT systems of different types, as provided by the organisers (updated ML4HMT corpus).</p>
    </div>

    <div class="span7 push1">
      <h4>Important Dates 2012</h4>
      <ul>
        <li><strong>August 15th</strong> Shared Task training data release</li>

        <li><strong>August 23rd</strong> Shared Task test data release</li>

        <li><strong>September 15th</strong> Shared Task translation results submission deadline</li>

        <li><strong>September 21st</strong> Shared Task evaluation results release</li>

        <li><strong>September 30th</strong> Workshop full paper and Shared Task system description paper submission deadline</li>

        <li><strong>October 31st</strong> Workshop paper accept/reject notification</li>

        <li><strong>November 15th</strong> Workshop and Shared Task camera ready paper due</li>

        <li><strong>December 8th/9th</strong> COLING 2012 Pre-conference workshops</li>
      </ul>

      <h4>Acknowledgments</h4>
      <p>The ML4HMT workshop is supported by <a href="http://www.meta-net.eu/"><img  alt="META-NET" src="http://www.meta-share.eu/meta-net-logo.png" style="width:100px;vertical-align:bottom;" /></a>.</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span8">
      <h4>ML4HMT-11 Workshop</h4>
      <p>The precursor workshop ML4HMT-11 was held on November 19th, 2011 in Barcelona, Spain. The original call for papers <a href="{{URL_PREFIX}}{% url ml4hmt.views.page page_id="2011/call-for-papers" %}">is available here</a>, the workshop program&mdash;including papers and presentations&mdash;<a href="{{URL_PREFIX}}{% url ml4hmt.views.page page_id="2011/program" %}">can be found here</a>.</p>
    </div>

    <div class="span7 push1">
      <h4>About META Work Package 2</h4>
      <p>An overview on T4ME WP2 &raquo;<em>Optimising the Division of Labour in Hybrid MT</em>&laquo;, funded by DG INFSO through the Seventh Framework Programme, grant agreement no.: 249119, is <a href="{{URL_PREFIX}}{% url home %}meta-wp2/">available here</a>.</p>
    </div>
  </div>
</section>

{% endblock %}
