{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  {% if message %}
  <div class="alert-message success">
    <p>{{message|safe}}</p>
  </div>
  {% else %}
  <div class="alert-message success">
    <p><strong>ML4HMT-12 Workshop Update</strong> 2nd ML4HMT Workshop accepted at COLING 2012 in Mumbai, India. Stay tuned as we update the website!</p>
  </div>
  {% endif %}

  <div class="page-header">
    <h1>Shared Task on Applying Machine Learning Techniques to<br/>Optimise the Division of Labour in Hybrid MT (ML4HMT-2012)</h1>
    <h2>Mumbai (India) &middot; December 8th/9th, 2012</h2>
    <h4>In conjunction with <a href="http://www.coling2012-iitb.org/">24th International Conference on Computational Linguistics (COLING 2012)</a></h4>

  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span8">
      <h4>Workshop Purpose and Theme</h4>
      <p>The workshop will explore alternatives in order to provide optimal support for Hybrid MT design, using sophisticated machine-learning techniques. One further important objective of the workshop is to build bridges from MT to the ML community to systematically and jointly explore the choice space for Hybrid Machine Translation.</p>

<!--
      <h4>Development Data for Download</h4>
      <p>The participants are given <a href="http://www.dfki.de/~cfedermann/ML4HMT-data-1.0.tgz">a development bilingual set</a> (13 MB), aligned at a sentence level. We have also released a <a href="http://www.dfki.de/~cfedermann/ML4HMT-data-description.pdf">description document</a> (104 KB).</p>
-->

      <h4>About META Work Package 2</h4>
      <p>An overview on WP2 is <a href="{{URL_PREFIX}}{% url home %}meta-wp2/">available here</a>.</p>
    </div>

    <div class="span7 push1">
<!--
      <h4>Important Dates</h4>
      <ul>
	    <li style="text-decoration:line-through;"><strong>May 20th</strong> Release of data for the challenge</li>
	    <li style="text-decoration:line-through;"><strong>October 10th</strong> Paper Submissions due / Challenge results due</li>
	    <li style="text-decoration:line-through;"><strong>October 18th</strong> Author notification / Release of challenge results</li>
	    <li style="text-decoration:line-through;"><strong>October 25th</strong> Final version due</li>
	    <li style="text-decoration:line-through;"><strong>November 19th</strong> Workshop--><!-- (<a href="{{URL_PREFIX}}{% url home %}">Registration open</a>) //--><!--</li>
	  </ul>
-->

	  <h4>Acknowledgments</h4>
	  <p>The ML4HMT workshop is supported by <a href="http://www.meta-net.eu/"><img  alt="META-NET" src="http://www.meta-share.eu/meta-net-logo.png" style="width:100px;vertical-align:bottom;" /></a></p>
	  <p>WP2 &raquo;<em>Optimising the Division of Labour in Hybrid MT</em>&laquo;, T4ME is funded by the DG INFSO of the European Commission through the Seventh Framework Programme, Grant agreement no.: 249119.</p>
	
	    </div>
	  </div>
	</section>

{% endblock %}
