{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="page-header">
    <h1>Shared Task on Applying Machine Learning techniques to<br/>optimising the division of labour in Hybrid MT (ML4HMT-2011)</h1>
    <h2>Barcelona (Spain) &middot; Saturday, November 19th, 2011</h2>
    <h4>In conjunction with <a href="http://ixa2.si.ehu.es/lihmt2011/">International Workshop on Using Linguistic Information for Hybrid Machine Translation (LIHMT-2011)</a></h4>

  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span10">
      <h4>Shared Task Purpose</h4>
      <p>The "Shared Task on Optimising the Division of Labour in Hybrid MT" is an effort to trigger systematic investigation on improving state-of-the-art Hybrid MT, using advanced machine-learning (ML) methodologies. The main focus of the shared task is trying to answer the following question: Can Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</p>
    </div>

    <div class="span3 push1">
      <h4>Workshop Details</h4>
      <address>
        <strong>Location</strong><br/>
        Barcelona Media<br/>
        Av. Diagonal, 177<br/>
        08018 Barcelona, Spain<br/>
      </address>
    </div>
    <div class="span3 push1">
      <h4>Organisational</h4>
      <p><strong>Registration</strong><br/>Participation is free!</p>
      <p>Please <a href="{{URL_PREFIX}}{% url signup %}">register here</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="span16">
<h4>Programme</h4>
<p>You can download the <a href="http://www.dfki.de/~cfedermann/ML4HMT-workshop-programme.pdf">workshop programme</a> (90 KB) here.</p>
<table class="zebra-striped">
<tr>
  <td>9:15</td><td><strong>Welcome</strong></td>
</tr>
<tr>
  <td>9:30</td><td><strong>Toni Badia (BM)</strong> &mdash; Introduction to the ML4HMT Shared Task Workshop</td>
</tr>
<tr>
  <td>9:40</td><td><strong>Patrik Lambert (LIUM)</strong> &mdash; The MANY System @ML4HMT-2011</td>
</tr>
<tr>
  <td>10:30</td><td><strong>Tsuyoshi Okita (DCU)</strong> &mdash; DCU System Combination @ML4HMT-2011</td>
</tr>
<tr>
  <td>11:00</td><td><strong>Eleftherios Avramidis (DFKI)</strong> &mdash; DFKI System Combination with Sentence Ranking @ML4HMT-2011</td>
</tr>
<tr>
  <td>11:30</td><td><em>Coffee Break</em></td>
</tr>
<tr>
  <td>12:00</td><td><strong>Christian Federmann (DFKI)</strong> &mdash; DFKI System Combination using Syntactic Information @ML4HMT-2011</td>
</tr>
<tr>
  <td>12:30</td><td><strong>Christian Federmann (DFKI)</strong> &mdash; Comparison of Overall Results @ML4HMT-2011</td>
</tr>
<tr>
  <td>12:40</td><td><strong>Alon Lavie (CMU)</strong> &mdash; MEMT: Alignment-based MT System Combination with Linguistic and Statistical Features</td>
</tr>
<tr>
  <td>13:10</td><td><p><strong>Discussion Panel</strong> <em>Chair:</em> Patrik Lambert (LIUM), Alon Lavie (CMU), Cristina Espa&ntilde;a-Bonet (UPC) and Christian Federmann (DFKI). Topics include:</p>
  <ol>
    <li>Two Hybrid paradigms: Multi- vs Single-system</li>
    <li>In the Multi-system approach: can Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</li>
    <li>Evaluation in the Multi-system approach: do we evaluate the output in isolation or do we use evaluation information from the different systems involved?</li>
  </ol></td>
</tr>
<tr>
  <td>14:00</td><td><em>Lunch</em></td>
</tr>
</table>
	    </div>
	  </div>
	</section>

{% endblock %}
