      <h4>Programme (tentative)</h4>

      <table class="table table-bordered table-striped">
        <tr>
          <td>9:00</td><td><strong>Josef van Genabith</strong><br/>Welcome and introductory remarks</strong></td>
        </tr>
        <tr>
          <td>9:05</td><td><strong>TBA</strong><br/>Invited talk</td>
        </tr>
        <tr>
          <td>9:55</td><td><strong>Vassilina Nikoulina, Agnes Sandor, Marc Dymetman</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-nikoulina-et-al.pdf">Hybrid Adaptation of Named Entity Recognition for Statistical Machine Translation</a> (180 KB)</td>
        </tr>
        <tr>
          <td>10:20</td><td><strong>Maoxi Li, Mingwen Wang</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-li-wang.pdf">Confusion Network Based System Combination for Chinese Translation Output: Word-Level or Character-Level?</a> (348 KB)</td>
        </tr>
        <tr>
          <td>10:45</td><td><strong>Kartik Asooja, Jorge Gracia, Nitish Aggarwal, Asunci&oacute;n Gom&eacute;z P&eacute;rez</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-asooja-et-al.pdf">Using Cross-Lingual Explicit Semantic Analysis for Improving Ontology Translation</a> (168 KB)</td>
        </tr>
        <tr>
          <td>11:10</td><td><strong>Xiaofeng Wu</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-wu-et-al.pdf">System Combination with Extra Alignment Information</a> (176 KB)</td>
        </tr>
        <tr>
          <td>11:30</td><td><em>Tea break</em></td>
        </tr>
        <tr>
          <td>11:45</td><td><strong>Antonio Toral</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al-b.pdf">Topic Modeling-based Domain Adaptation for System Combination</a> (115 KB)</td>
        </tr>
        <tr>
          <td>12:05</td><td><strong>Rapha&euml;l Rubino</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al.pdf">Sentence-Level Quality Estimation for MT System Combination</a> (119 KB)</td>
        </tr>
        <tr>
          <td>12:25</td><td><strong>Tsuyoshi Okita</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita.pdf">Neural Probabilistic Language Model for System Combination</a> (143 KB)</td>
        </tr>
        <tr>
          <td>12:45</td><td><strong>Christian Federmann</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann.pdf">System Combination Using Joint, Binarised Feature Vectors</a> (426 KB)</td>
        </tr>
        <tr>
          <td>13:05</td><td><strong>Christian Federmann, Tsuyoshi Okita, Maite Melero, Marta Ruiz Costa-Juss&agrave;, Toni Badia, Josef van Genabith</strong><br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann-et-al.pdf">Results of the ML4HMT-12 Shared Task</a> (123 KB)</td>
        </tr>
        <tr>
          <td>13:10</td><td><p><strong>Discussion Panel</strong> <em>Chair:</em> TBD Topics include:</p>
          <ol>
            <li>Two Hybrid paradigms: Multi- vs Single-system</li>

            <li>In the Multi-system approach: can Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</li>

            <li>Evaluation in the Multi-system approach: do we evaluate the output in isolation or do we use evaluation information from the different systems involved?</li>
          </ol></td>
        </tr>
        <tr>
          <td>13:30</td><td><em>Lunch</em></td>
        </tr>
      </table>