      <h4>Programme</h4>
      <p>You can download the <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-workshop-programme.pdf">workshop programme</a> (PDF format, 94 KB) here.</p>
      <p>The <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012.pdf">full proceedings</a> (PDF format, 1.4 MB) and the corresponding <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012.bib">reference</a> (BibTex format) are available as well.</p>

      <table class="table table-bordered table-striped">
        <tr>
          <td>9:00</td><td><strong><a href="http://www.computing.dcu.ie/~josef/">Josef van Genabith</a></strong><br/>Welcome and introductory remarks</strong></td>
        </tr>
        <tr>
          <td>9:15</td><td><strong>Vassilina Nikoulina, Agnes Sandor, <span style="text-decoration:underline;">Marc Dymetman</span></strong><br/>Hybrid Adaptation of Named Entity Recognition for Statistical Machine Translation<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-nikoulina-et-al.pdf">Paper</a> (PDF format, 197 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-nikoulina-et-al.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>9:40</td><td><strong>Maoxi Li, Mingwen Wang</strong>, presented by <span style="text-decoration:underline;">Feifei Zhai</span><br/>Confusion Network Based System Combination for Chinese Translation Output: Word-Level or Character-Level?<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-li-wang.pdf">Paper</a> (PDF format, 360 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-li-wang.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>10:05</td><td><strong>Kartik Asooja, Jorge Gracia, Nitish Aggarwal, Asunci&oacute;n Gom&eacute;z P&eacute;rez</strong>, presented by <span style="text-decoration:underline;">Mihael Arcan</span><br/>Using Cross-Lingual Explicit Semantic Analysis for Improving Ontology Translation<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-asooja-et-al.pdf">Paper</a> (PDF format, 139 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-asooja-et-al.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>10:30</td><td><strong>Xiaofeng Wu</strong><br/>System Combination with Extra Alignment Information<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-wu-et-al.pdf">Paper</a> (PDF format, 152 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-wu-et-al.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>10:50</td><td><strong>Antonio Toral</strong><br/>Topic Modeling-based Domain Adaptation for System Combination<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al-b.pdf">Paper</a> (PDF format, 127 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al-b.bib">Reference</a> (BibTex format) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al-b-slides.pdf">Slides</a> (PDF format, 922 KB)</td>
        </tr>
        <tr>
          <td>11:10</td><td><strong>Rapha&euml;l Rubino</strong>, presented by <span style="text-decoration:underline;">John Judge</span><br/>Sentence-Level Quality Estimation for MT System Combination<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al.pdf">Paper</a> (PDF format, 135 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita-et-al.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>11:30</td><td><em>Tea break</em></td>
        </tr>
        <tr>
          <td>11:45</td><td><strong>Tsuyoshi Okita</strong><br/>Neural Probabilistic Language Model for System Combination<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita.pdf">Paper</a> (PDF format, 143 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-okita.bib">Reference</a> (BibTex format)</td>
        </tr>
        <tr>
          <td>12:05</td><td><strong>Christian Federmann</strong><br/>System Combination Using Joint, Binarised Feature Vectors<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann.pdf">Paper</a> (PDF format, 430 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann.bib">Reference</a> (BibTex format) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann-slides.pdf">Slides</a> (PDF format, 803 KB)</td>
        </tr>
        <tr>
          <td>12:25</td><td><strong><span style="text-decoration:underline;">Christian Federmann</span>, Tsuyoshi Okita, Maite Melero, Marta Ruiz Costa-Juss&agrave;, Toni Badia, Josef van Genabith</strong><br/>Results of the ML4HMT-12 Shared Task<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann-et-al.pdf">Paper</a> (PDF format, 115 KB) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann-et-al.bib">Reference</a> (BibTex format) &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-federmann-et-al-slides.pdf">Slides</a> (PDF format, 438 KB)</td>
        </tr>
        <tr>
          <td>12:30</td><td><p><strong>Discussion Panel</strong><br/> <p><em>Panelists:</em> <a href="http://ufal.mff.cuni.cz/~hajic/">Jan Haji&ccaron;</a>, <a href="http://www.computing.dcu.ie/~qliu/">Qun Liu</a>, <a href="http://www.coli.uni-saarland.de/~hansu/">Hans Uszkoreit</a>, <a href="http://www.computing.dcu.ie/~josef/">Josef van Genabith</a></p>

          <p>Topics include:</p>
          <ol>
            <li>The Future of Hybrid MT: is there a single-paradigm winner?</li>

            <li>Will we see increasing usage of additional, potentially highly sparse, features?</li>

            <li>Will research efforts in Machine Translation and Machine Learning converge?</li>

            <li>How do we evaluate progress in terms of translation quality for Hybrid MT?</li>

            <li>What are the baselines? Can Human Judgment be integrated?</li>
          </ol></td>
        </tr>
        <tr>
          <td>12:50</td><td><strong><a href="http://ufal.mff.cuni.cz/~hajic/">Jan Haji&ccaron;</a></strong> &middot; Institute of Formal and Applied Linguistics &middot; Charles University in Prague<br/>Invited talk: Deep Linguistic Information in Hybrid Machine Translation<br/><a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2012-jan-hajic-invited-talk-slides.ppt">Slides</a> (PowerPoint format, 4.3 MB)</td>
        </tr>
        <tr>
          <td>13:30</td><td><em>Lunch</em></td>
        </tr>
      </table>