      <h4>Important Dates 2012</h4>
      <ul>
        <li class="overdue"><strong>August 15th</strong> Shared Task training data release</li>

        <li class="overdue"><strong>August 23rd</strong> Shared Task test data release</li>

        <li><span class="label label-warning">extended</span> <strong>October 14th</strong> Workshop <a href="https://www.softconf.com/coling2012/ML4HMT12/">research paper submission</a></li>

        <li><span class="label label-warning">extended</span> <strong>October 28th</strong> Shared Task translation results submission deadline</li>

        <li><strong>October 31st</strong> Workshop research paper accept/reject notification</li>

        <li><span class="label label-warning">extended</span> <strong>November 1st</strong> Shared Task automatic evaluation results release</li>

        <li><span class="label label-warning">extended</span> <strong>November 4th</strong> Shared Task <a href="https://www.softconf.com/coling2012/ML4HMT12/">system description paper submission</a></li>

        <li><span class="label label-warning">extended</span> <strong>November 11th</strong> Shared task system description paper accept/reject notification</li>

        <li><span class="label label-warning">extended</span> <strong>November 18th</strong> Workshop and Shared Task camera ready paper due</li>

        <li><strong>December 9th</strong> COLING 2012 Pre-conference workshop, 9am</li>
      </ul>