{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="alert alert-information">
    <strong>Archived Page:</strong> This is an archived page describing the ML4HMT-11 Workshop held on November 19, 2011 in Barcelona, Spain.
  </div>

  <div class="page-header">
    <h2>Shared Task on Applying Machine Learning Techniques to Optimise the Division of Labour in Hybrid MT (ML4HMT-2011)</h2>
    <h3>Barcelona (Spain) &middot; Saturday, November 19th, 2011</h3>
    <h5>In conjunction with <a href="http://ixa2.si.ehu.es/lihmt2011/">International Workshop on Using Linguistic Information for Hybrid Machine Translation (LIHMT-2011)</a></h5>
  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span9">
      <h4>Shared Task Purpose</h4>
      <p>The "Shared Task on Applying Machine Learning Techniques to Optimise the Division of Labour in Hybrid MT" is an effort to trigger systematic investigation on improving state-of-the-art Hybrid MT, using advanced machine-learning (ML) methodologies. The main focus of the shared task is trying to answer the following question: Can Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</p>
    </div>

    <div class="span3">
      <h4>Workshop Details</h4>
      <address>
        <strong>Location</strong><br/>
        Barcelona Media<br/>
        Av. Diagonal, 177<br/>
        08018 Barcelona, Spain<br/>
      </address>
    </div>
    <div class="span3 push1">
      <h4>Organisational</h4>
      <p><strong>Registration</strong><br/>Participation is free!</p>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <h4>Programme</h4>
      <p>You can download the <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-workshop-programme.pdf">workshop programme</a> (45 KB) here.</p>

      <table class="table table-bordered table-striped">
        <tr>
          <td>9:15</td><td><strong>Welcome</strong></td>
        </tr>
        <tr>
          <td>9:30</td><td><strong>Toni Badia (BM)</strong> &mdash; Introduction to the ML4HMT Shared Task Workshop</td>
        </tr>
        <tr>
          <td>9:40</td><td><strong>Patrik Lambert (LIUM)</strong> &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-barrault-lambert.pdf">The MANY System @ML4HMT-2011</a> (200 KB) &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-barrault-lambert-slides.pdf">presentation slides</a> (786 KB)</td>
        </tr>
        <tr>
          <td>10:30</td><td><strong>Tsuyoshi Okita (DCU)</strong> &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-okita-van_genabith.pdf">DCU System Combination @ML4HMT-2011</a> (196 KB) &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-okita-van_genabith-slides.pdf">presentation slides</a> (209 KB)</td>
        </tr>
        <tr>
          <td>11:00</td><td><strong>Eleftherios Avramidis (DFKI)</strong> &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-avramidis.pdf">DFKI System Combination with Sentence Ranking @ML4HMT-2011</a> (108 KB) &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-avramidis-slides.pdf">presentation slides</a> (614 KB)</td>
        </tr>
        <tr>
          <td>11:30</td><td><em>Coffee Break</em></td>
        </tr>
        <tr>
          <td>12:00</td><td><strong>Christian Federmann (DFKI)</strong> &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-federmann-et-al.pdf">DFKI System Combination using Syntactic Information @ML4HMT-2011</a> (152 KB) &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-federmann-et-al-slides.pdf">presentation slides</a> (748 KB)</td>
        </tr>
        <tr>
          <td>12:30</td><td><strong>Christian Federmann (DFKI)</strong> &mdash; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-federmann.pdf">Comparison of Overall Results @ML4HMT-2011</a> (532 KB) &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-federmann-slides.pdf">presentation slides</a> (1 MB)</td>
        </tr>
        <tr>
          <td>12:40</td><td><strong>Alon Lavie (CMU)</strong> &mdash; MEMT: Alignment-based MT System Combination with Linguistic and Statistical Features &middot; <a href="http://www.dfki.de/~cfedermann/ML4HMT/ML4HMT-2011-MEMT-Nov11.pdf">presentation slides</a> (1.1 MB)</td>
        </tr>
        <tr>
          <td>13:10</td><td><p><strong>Discussion Panel</strong> <em>Chair:</em> Patrik Lambert (LIUM), Alon Lavie (CMU), Cristina Espa&ntilde;a-Bonet (UPC) and Christian Federmann (DFKI). Topics include:</p>
          <ol>
            <li>Two Hybrid paradigms: Multi- vs Single-system</li>

            <li>In the Multi-system approach: can Hybrid/System Combination MT techniques benefit from extra information (linguistically motivated, decoding and runtime) from the different systems involved?</li>

            <li>Evaluation in the Multi-system approach: do we evaluate the output in isolation or do we use evaluation information from the different systems involved?</li>
          </ol></td>
        </tr>
        <tr>
          <td>14:00</td><td><em>Lunch</em></td>
        </tr>
      </table>
    </div>
  </div>
</section>

{% endblock %}
