{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="page-header">
    <h2>Shared Task on Applying Machine Learning Techniques to<br/>Optimise the Division of Labour in Hybrid MT (ML4HMT-2011)</h2>
    <h3>Barcelona (Spain) &middot; Saturday, November 19th, 2011</h3>
    <h5>In conjunction with <a href="http://ixa2.si.ehu.es/lihmt2011/">International Workshop on Using Linguistic Information for Hybrid Machine Translation (LIHMT-2011)</a></h5>

  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span11">
      <h4>Registered Participants</h4>
      <table class="table table-bordered table-striped">
        <tr><th>Name</th><th>Email</th><th>Affiliation</th></tr>
      {% for participant in participants %}
        <tr><td>{{participant.name}}</td><td>{{participant.email}}</td><td> {{participant.affiliation}}</td></tr>
      {% endfor %}
      </table>
    </div>
  </div>
</section>
{% endblock %}
