
{% extends "base.html" %}

{% block content %}
<section id="about" style="padding-top: 60px;">
  <div class="page-header">
    <h1>Shared Task on Applying Machine Learning Techniques to<br/>Optimise the Division of Labour in Hybrid MT (ML4HMT-2011)</h1>
    <h2>Barcelona (Spain) &middot; Saturday, November 19th, 2011</h2>
    <h4>In conjunction with <a href="http://ixa2.si.ehu.es/lihmt2011/">International Workshop on Using Linguistic Information for Hybrid Machine Translation (LIHMT-2011)</a></h4>

  </div>
</section>

<section id="index">
  <div class="row">
    <div class="span15">

{% if form.errors %}
      <div class="alert-message error">
        <p><strong>Please note:</strong> You need to submit at least your name and email address; thank you!</p>
      </div>
{% endif %}

      <h4>Workshop Registration</h4>
      <p>If you plan to attend the workshop, we kindly ask you to register in the form below. <strong>Participation is free!</strong></p>
      <p>We are looking forward to welcoming you in Barcelona.</p>

      <form action="{{URL_PREFIX}}{% url signup %}" method="post">{% csrf_token %}
      <fieldset>
        <div class="clearfix">
          <label for="id_name">Name</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">required</span>
              <input class="xlarge" id="id_name" type="text" name="name" maxlength="75" />
              <span class="help-inline">Your name</span>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="id_email">Email</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">required</span>
              <input class="xlarge" id="id_email" type="text" name="email" maxlength="75" />
              <span class="help-inline">An email address we can use to contact you</span>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label for="id_affiliation">Affiliation</label>
          <div class="input">
            <div class="input-prepend">
              <span class="add-on">optional</span>
              <input class="xlarge" id="id_affiliation" type="text" name="affiliation" maxlength="75" />
              <span class="help-inline">Your affiliation (optional)</span>
            </div>
          </div>
        </div>
        <div class="actions">
          <input class="btn primary" type="submit" value="Submit" />
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</section>
{% endblock %}
